# ======================================================
# Fallback global 
# ======================================================
VITE_API_URL_REAL=
VITE_API_URL_MOCK=http://localhost:3100/api
VITE_USE_MOCK=false

# ======================================================
# Catalogos
# ======================================================
VITE_MS_CATALOGOS_REAL=
VITE_MS_CATALOGOS_MOCK=
VITE_MS_CATALOGOS_USE_MOCK=

# ======================================================
# Mapeos linea
# ======================================================
VITE_MS_MAPEOS_LINEA_REAL=
VITE_MS_MAPEOS_LINEA_MOCK=
VITE_MS_MAPEOS_LINEA_USE_MOCK=

# ======================================================
# Mapeos campana
# ======================================================
VITE_MS_MAPEOS_CAMPANA_REAL=
VITE_MS_MAPEOS_CAMPANA_MOCK=
VITE_MS_MAPEOS_CAMPANA_USE_MOCK=

# ======================================================
# Tareas (actividades) linea
# ======================================================
VITE_MS_TAREAS_LINEA_REAL=
VITE_MS_TAREAS_LINEA_MOCK=
VITE_MS_TAREAS_LINEA_USE_MOCK=

# ======================================================
# Tareas (actividades) campana
# ======================================================
VITE_MS_TAREAS_CAMPANA_REAL=
VITE_MS_TAREAS_CAMPANA_MOCK=
VITE_MS_TAREAS_CAMPANA_USE_MOCK=

# ======================================================
# Columnas linea
# ======================================================
VITE_MS_COLUMNAS_LINEA_REAL=
VITE_MS_COLUMNAS_LINEA_MOCK=
VITE_MS_COLUMNAS_LINEA_USE_MOCK=

# ======================================================
# Columnas campana
# ======================================================
VITE_MS_COLUMNAS_CAMPANA_REAL=
VITE_MS_COLUMNAS_CAMPANA_MOCK=
VITE_MS_COLUMNAS_CAMPANA_USE_MOCK=

# ======================================================
# Bitacora
# ======================================================
VITE_MS_BITACORA_REAL=
VITE_MS_BITACORA_MOCK=
VITE_MS_BITACORA_USE_MOCK=

# ======================================================
# Horarios linea
# ======================================================
VITE_MS_HORARIOS_LINEA_REAL=
VITE_MS_HORARIOS_LINEA_MOCK=
VITE_MS_HORARIOS_LINEA_USE_MOCK=

# ======================================================
# Horarios campana
# ======================================================
VITE_MS_HORARIOS_CAMPANA_REAL=
VITE_MS_HORARIOS_CAMPANA_MOCK=
VITE_MS_HORARIOS_CAMPANA_USE_MOCK=

# ======================================================
# Tareas monitor linea
# ======================================================
VITE_MS_MONITOR_LINEA_REAL=
VITE_MS_MONITOR_LINEA_MOCK=
VITE_MS_MONITOR_LINEA_USE_MOCK=

# ======================================================
# Tareas monitor campana
# ======================================================
VITE_MS_MONITOR_CAMPANA_REAL=
VITE_MS_MONITOR_CAMPANA_MOCK=
VITE_MS_MONITOR_CAMPANA_USE_MOCK=


VITE_OKTA_ISSUER=
VITE_OKTA_CLIENT_ID=
VITE_OKTA_REDIRECT_URI=http://localhost:5173/login/callback